*{
    margin: 0;
}


#click{
    width: 100px;
    height: 100px;
    background-color: red;
display:none;
position: relative;
}

.container{
    width: 100%;
    height:100%;
    background-color: rgb(0, 217, 255);
    padding: 10px;
}

.spread{
    padding: 10px;
    font-weight: 700;
}
